Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LMSServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LMSServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGenre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Genre" nillable="true" type="tns:Genre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenre" nillable="true" type="tns:ArrayOfGenre" />
  <xs:complexType name="Genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="GenreID" type="xs:int" />
      <xs:element minOccurs="0" name="GenreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Musics" nillable="true" type="tns:ArrayOfMusic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Genre" nillable="true" type="tns:Genre" />
  <xs:complexType name="ArrayOfMusic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Music" nillable="true" type="tns:Music" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMusic" nillable="true" type="tns:ArrayOfMusic" />
  <xs:complexType name="Music">
    <xs:sequence>
      <xs:element minOccurs="0" name="Genre" nillable="true" type="tns:Genre" />
      <xs:element minOccurs="0" name="GenreID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MusicID" type="xs:int" />
      <xs:element minOccurs="0" name="MusicName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Music" nillable="true" type="tns:Music" />
</xs:schema>